li{
    margin: 0 1.2rem;
}

#head-h1{
    font-size: 3rem;
}

#para{
    width: 70vw;
}

.part{
    margin: 2rem;
}

#detail{
    width: 60vw;
}

.healthy{
    width: 16rem;
    height: 16rem;
}

.h1-3{
    font-size: 2.7rem;
}